.block-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.main-btn {
  display: inline-block;
  padding: 13px 41px;
  @include font(body-l, 400, $font-second);
  color: $black-clr;
  letter-spacing: 1.1px;
  background: $general-clr;
  border-radius: 27px;
  border: 2px solid $general-clr;
  transition: background .3s ease;

  &:hover {
    background: $white-clr;
  }
}
